<div class="lesson-list">
  <h2>Lessons</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (lesson of lessons; track lesson.id) {
        <tr>
          <td><a [routerLink]="['/lessons', lesson.id]">{{ lesson.name }}</a></td>
          <td>
            <a [routerLink]="['/lessons/edit', lesson.id]"><button class="edit-button">Edit</button></a>
            <button class="delete-button" (click)="deleteLesson(lesson.id)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
